$theme-colors: (
  blue: #007bff,
  indigo: #6610f2,
  purple: #6f42c1,
  pink: #e83e8c,
  red: #dc3545,
  orange: #fd7e14,
  yellow: #ffc107,
  green: #28a745,
  teal: #20c997,
  cyan: #17a2b8,
  white: #fff,
  gray: #6c757d,
  gray-dark: #343a40,

  primary: #3BBA95,
  secondary: #6c757d,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
  light: #f8f9fa,
  dark: #343a40,
);

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);

// Dark theme overrides
$body-bg: #0D2538;
$body-color: #fff;
$card-bg: #0f2d44;
$link-color: #af9cef;


// Code block overrides. 
// We should be able to port all this to normal bootstrap variables like the dark theme overrides.
body {
  --bg-code: rgba(0,0,0,0.3);
  --border-color:  rgba(255,255,255,.1);;
  --radius: 5px;
  --space: 3.5rem;
  --bg-color: #0D2538;
 	--bg-content-color: #0f2d44;
  --body-color: #ced8de;
  --title-color: #fff;
}
